<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<form action="#" th:action="@{/addBook}" method="post" th:object="${book}">
		<label>Book Id:</label>
		<input type="text" th:field="*{bookId}" /><br />
		<div th:if="${#fields.hasErrors('bookId')}" th:errors="*{bookId}"></div>
		<label>Book Title:</label>
		<input type="text" th:field="*{title}" /><br />
		<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
		<label>Book Author:</label>
		<input type="text" th:field="*{author}" /><br />
		<div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
		<label>Book Publisher:</label>
		<input type="text" th:field="*{publisher}" /><br />
		<div th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></div>

		<button type="submit">Add Book</button>
	</form>


</body>

</html>